<p><div class= "top_message">マニュアル一覧</p></div>
<div class = "contents">
 <% @manuals.each do |manual| %>
    <div class="manual_post" >
      <span class ="manual_title">
        <p><%= manual.title %></p>
      </span>
      <span class ="manual_image">
        <p><%= image_tag manual.image.variant(resize:'500x500') %></p>
      </span>
      <span class="manual_explanation">
        <p><%= manual.explanation %></p>
      </span>
    </div>
  <% end %>

  <p><%= link_to 'マニュアルを追加する', new_manual_path %></p>
</div>

<p><%= link_to 'トップページに戻る', posts_path %></p>

