<p><h1><%= current_user.shopname %>へようこそ！</h1></p>
<% if @posts.present? %>
  <% @posts.each do |post| %>
      <div class="post_name" >
        <span class ="post_name">
          <p><%= post.name %></p>
        </span>
        <span class ="post_image">
          <p><%=image_tag(post.image, size:'100x100') %></p>
        </span>
        <span class="post_greeting">
          <p><%= post.greeting %></p>
        </span>
      </div>
    <% end %>
<% else %>
  <div class = "shop_greeting">
      <div class = "syacyo-image">
      <%= image_tag('shef-image.png' , size: '100x100') %>
      </div>
      <div class = "greeting">
      お店の紹介や新人さんへのメッセージをご記入ください！
      </div>
    </div>
    <%= link_to '挨拶、画像を登録する', new_post_path ,class:"post-btn"%>
<% end %>



<p><%= link_to '1.業務マニュアル ', manuals_path, class:"post_btn"  %></p>

<p><%= link_to '2.シフト確認    ', shifts_path, class:"post_btn"  %></p>

<p><%= link_to '3.引き継ぎ事項   ', shares_path, class:"post_btn" %></p>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<%# .item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;これでいい感じにボタンを作ろう。
} btn のCSSも準備必要%>


<%# <span class ="manual_image">
        <p><%= image_tag manual.image.variant(resize:'500x500') %></p>
      <%# </span> %> 
