<!DOCTYPE html>
<html>
  <head>
    <title>まにゅなび</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
      <div class="header__bar">
        <div class="grid-6"><a href="/">まにゅなび</a></div>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <span><%= current_user.email %>
          </div>
          <% else %>
          <div class="grid-6">
            
         </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
